*{
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 0;
  margin-bottom: 0;
}
h1{
  font-weight: bold;
  font-size: 56px;
}
h2{
  font-weight: bold;
  font-size: 36px;
}
h3{
  font-weight: medium;
  font-size: 20px;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
/*header*/
.header {
  border-bottom: 1px solid#e7e9fc;
}
.header-top{
  display: flex;
}
.container {
  
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
   
}
.nav {
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 40px;
}
.logo-one {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-spanone {
  color: #2e2f42;
}
.logo-spantwo {
  color: #f4f4fd;
}
.studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.studio:hover {
  color: #404bbf;
}
.studio:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-ul {
  display: flex;
  
  gap: 40px;
}
.contacts-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-a:hover {
  color: #404bbf;
}
.contacts-a:focus {
  color: #404bbf;
}
/*section 1 butonlu bölüm*/
.section-one {
  background-color: #2e2f42;
  color: white;
  padding: 188px 0;
}
.title-one {
  font-size: 56px;
  line-height: 1.07;
  margin: auto;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.button-text {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.button-text:hover {
  background-color: #404bbf;
}
.button-text:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*4 lü paragraf*/
.section-two {
  padding: 120px 0;
}
.sectwo-ul {
  display: flex;
  margin-right: 24px;
  margin-top: 72px;
  gap: 24px;
  padding-left: 0px;
}
.sectwo-li {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.sectwo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.sectwo-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*our team kısmı*/
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 24px;
  padding-left: 0px;
}
.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
 
}
.team-list:last-child {
  margin-right: 0;
}
.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-box {
  padding: 32px 0;
}
.person-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/*Portfolio*/
.section-four{
  padding: 120px 0;
}
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0px;
}
.row-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.rov-li {
  text-decoration: none;
  list-style-type: none;
  flex: 1;
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  display: inline-block;
}
.row-box{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  
}
.row-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.logo-two{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-parag {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
